# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Node
node_modules
.npm
dist
.next

# Java
target
*.iml
.mvn
.mvnyj

# OS / IDE
.DS_Store
Thumbs.db
.idea
.vscode

# Env
.env
.env.*
